.conteudo-card {
    background-color: #737272;/*#737272*/
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  
  .conteudo-card:hover {
    background-color: #8c8b8b;/*#8c8b8b*/
  }
  
  .card-img {
    border-radius: 50%;
    width: 150px;
    height: auto;
  }
  
  .card-titulo {
    font-size: 2em;
    margin: 1.5rem 0;
  }
  
  .card-descricao {
    text-align: center;
    font-size: 1.1em;
  }
  
  .card-link {
    margin: 2rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(68, 68, 247, 0.782);
    transition: 0.3s;
    font-size: larger;
  }
  
  .card-link:hover {
    color: rgba(68, 68, 247, 0.782);
    background-color: white;
    font-size: larger;
  }

  