@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
}

body {
  background-color:  rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-senai{
  width: 150px;
  height: auto;
  margin: 0.5rem;
}

h1 {
  text-align: center;
  margin: 0 15px;
  font-size: 21px;
}

.container {
  display:flex;
  width: 100%;
  justify-content: center;
}

.aside{
  width: 15%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.conteudo {
  background-color: #cfcece;
  width: 85%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  box-shadow: 5px 5px 5px rgba(70, 70, 70, 0.838);
  margin: 2rem 0px;
  border-radius: 3px;
  padding: 25px 0px;
}

.cabecalho-footer {
  width: 100%;
  height: 120px;
  background-color: #086cb4;
  box-shadow: 0px 0px 5px black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

