@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho-footer {
    width: 100%;
    height: 120px;
    background-color: rgb(1, 36, 9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0.5rem;
    font-size: 3em;
    font-variant-caps: all-petite-caps;

}

h4 {
    text-align: center;
}

.conteudo {
    background-color: rgba(114, 113, 113, 0.884);
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.612);
    margin: 2rem 0px;
    border-radius: 15px;
}

.conteudo-card {
    background-color: rgba(0, 0, 0, 0.121);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.conteudo-card:hover {
    background-color: rgba(207, 205, 205, 0.116);
}

.card-img {
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.card-titulo {
    font-size: 2em;
    margin: 1.5rem 0;
}

.card-descricao {
    text-align: center;
    font-size: 1.1em;
}

.card-link {
    margin: 2rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(68, 68, 247, 0.782);
    transition: .3s;
    font-size: larger;
}

.card-link:hover {
    color: rgba(68, 68, 247, 0.782);
    background-color: white;
    font-size: larger;
}


/*Estilo do IGOR*/

.conteudo-cardigor {
    background-color: #821fc5;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-cardigor:hover {
    background-color: rgba(207, 205, 205, 0.116);
}

.card-linkigor {
    margin: 2rem;
    text-decoration: none;
    color: rgba(68, 68, 247, 0.782);
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: white;
    transition: .3s;
    font-size: larger;
}

.card-linkigor:hover {
    color: white;
    background-color: rgba(25, 25, 71, 0.712);
    font-size: larger;
}


/*card iago*/

.cardiago {
    background-color: #0d3c39;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardiago:hover {
    background-color: rgba(207, 205, 205, 0.116);
}

.card-iago {
    margin: 2rem;
    text-decoration: none;
    color: rgba(203, 54, 8, 0.782);
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgb(137, 159, 138);
    transition: .3s;
    font-size: larger;
}

.card-iago:hover {
    color: white;
    background-color: rgba(23, 178, 187, 0.782);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

/*card iago*/

/* Estilo do Lucas Lima */

.conteudo-cardlucaslima {
    background-color: black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-cardlucaslima:hover {
    background-color: rgba(207, 205, 205, 0.116);
}

.card-linklucaslima {
    margin: 2rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: #80a62d;
    transition: .3s;
    font-size: larger;
}

.card-linklucaslima:hover {
    color: #80a62d;
    background-color: white;
    font-size: larger;
}

/*Card Wesley*/
.conteudo-wesley {
    background-color: rgb(22, 61, 18);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-wesley:hover {
    background-color: #0d3c39;
}

.card-wesley {
    margin: 2rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: #31834c;
    transition: .3s;
    font-size: larger;
}

.card-wesley:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-size: larger;
}

.wesley-img {
    border-radius: 50%;
    width: 155px;
    height: 165px;
}

.conteudo-card-thiago {
    background-color: rgba(255, 0, 0, 0.548);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-card-thiago:hover {
    background-color: rgba(207, 205, 205, 0.116);
}

.card-link-thiago {
    margin: 2rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.938);
    transition: .3s;
    font-size: larger;
}

.card-link-thiago:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.945);
    font-size: larger;
}

/*Card Weslei.souza*/
.conteudo-wesleisouza {
    background-color: rgba(214, 218, 18, 0.897);
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.612);
    margin-top: 2rem;
    border-radius: 15px;
}

.conteudo-card-wesleisouza {
    background-color: rgba(225, 240, 15, 0.932);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-card-wesleisouza:hover {
    background-color: rgba(207, 205, 205, 0.116);
}

.card-img-wesleisouza {
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.card-titulo-wesleisouza {
    font-size: 2em;
    margin: 1.5rem 0;
}

.card-descricao-wesleisouza {
    text-align: center;
    font-size: 1.1em;
}

.card-link-wesleisouza {
    margin: 2rem;
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(173, 16, 16, 0.966);
    transition: .3s;
    font-size: larger;
}

.card-link-wesleisouza:hover {
    color: rgba(221, 235, 231, 0.911);
    background-color: rgba(16, 16, 17, 0.014);
    font-size: larger;
}

.weslei.souza-img {
    border-radius: 50%;
    width: 155px;
    height: 165px;
}

/*Card Alan Cleverson*/
.um {
    background-color: rgb(23, 5, 182);
    box-shadow: 10px 10px 30px rgba(8, 4, 1, 0.886);
    width: 230px;
    height: 400px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.um:hover {
    background-color: rgb(7, 7, 142);
}

.quatro {
    margin: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(237, 64, 64, 0.938);
    border-color: white;
    transition: .3s;
    font-size: larger;
    text-align: center;
}

.quatro:hover {
    color: rgb(8, 8, 8);
    background-color: rgba(238, 22, 22, 0.945);
    font-size: larger;
}

.dois {
    font-size: 180%;
}


/*Card Diogo Vilela*/
#diogo__vilela {
    background: url('https://img.wallpapic-br.com/i8959-323-227/thumb/galaxia-roxos-espaco-sideral-nebulosa-imagem-de-fundo.jpg') left bottom;
    transition: 5s;
}

#diogo__vilela:hover {
    background: url('https://img.wallpapic-br.com/i8959-323-227/thumb/galaxia-roxos-espaco-sideral-nebulosa-imagem-de-fundo.jpg') right bottom;
}

#diogo__vilela-button {
    background-color: rgba(0, 0, 0, 0.583);
    color: white;
}

#diogo__vilela-button:hover {
    background-color: white;
    color: black;
}

/*Card Hugo Gonçalves*/

.a {
    background-color: rgb(21, 132, 217);
    box-shadow: 10px 10px 30px rgba(70, 158, 11, 0.886);
    width: 230px;
    height: 400px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.a:hover {
    background-color: rgb(7, 102, 114);
}

.d {
    margin: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(237, 64, 64, 0.938);
    border-color: white;
    transition: .3s;
    font-size: larger;
    text-align: center;
}

.d:hover {
    color: rgb(175, 27, 27);
    background-color: rgba(22, 137, 238, 0.945);
    font-size: larger;
}

.b {
    font-size: 180%;
}

/*Card Hugo Gonçalves*/

.cardcicero {
    background-color: rgb(10, 10, 10);
    box-shadow: 10px 10px 30px rgba(238, 8, 8, 0.886);
    width: 230px;
    height: 400px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardcicero:hover {
    background-color: rgb(216, 17, 17);
    box-shadow: 10px 10px 30px rgba(8, 8, 8, 0.886);
}

.butcicero {
    margin: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(245, 6, 6, 0.938);
    border-color: rgb(255, 255, 255);
    transition: .3s;
    font-size: larger;
    text-align: center;
}

.butcicero:hover {
    color: rgb(214, 20, 20);
    background-color: rgba(8, 8, 8, 0.945);
    font-size: larger;
}

.textocicero {
    font-size: 20px;
}

.textocicero:hover {
    color: rgb(0, 0, 0);
}

.titulocicero {
    margin-top: 15px;
    font-size: 150%;
}

.titulocicero:hover {
    color: rgb(0, 0, 0);
}

.card-img-cicero {
    border-radius: 50%;
    width: 150px;
    height: auto;

}

.card-img-cicero:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.886);
}

/*Card David Catherinck*/

.david-teste {
    background: linear-gradient(90deg, #000000, #50577A, #FFFFFF, #50577A, #000000);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 10px 10px 30px rgb(10, 10, 10);
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.david-teste1 {
    background: url("./img/starWars.jpg");
    background-size: 140%;
    background-position: center;
    opacity: 0.8;
    border-radius: 20px;
}

.david-teste1:hover {
    opacity: 1;
}

.david {
    width: 230px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.david-img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-bottom: 10%;
}

.david-descricao {
    line-height: 70%;
}

.david-descricao__nome {
    font-size: 150%;
    color: #000000;
    font-weight: 1000;
}

.david-descricao__desenvolvedor {
    color: #000000;
    font-size: 80%;
    font-weight: 1000;
    background-color: #FFFFFF;
    background-size: auto;
}

.david-portifolio {
    margin: 2rem;
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: #FFFFFF;
    transition: .3s;
    font-size: larger;
    text-align: center;
}

.david-portifolio:hover {
    color: #FFFFFF;
    background-color: #000000;
    font-size: larger;
}

/*Gleydson Saraiva*/
.conteudo-gleydson {
    background-color: rgba(4, 106, 248, 0.919);
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.612);
    margin-top: 2rem;
    border-radius: 15px;
}

.conteudo-card-gleydson {
    background-color: rgba(0, 0, 0, 0.121);
    box-shadow: 10px 10px 30px rgba(3, 122, 250, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-card-gleydson:hover {
    background-color: rgba(7, 121, 235, 0.116);
    /*rgba(207, 205, 205, 0.116)*/
}

.card-img-gleydson {
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.card-titulo-gleydson {
    font-size: 1.7em;
    margin: 1.5rem 0;
}

.card-descricao-gleydson {
    text-align: center;
    font-size: 1.1em;
}

.card-link-gleydson {
    margin: 2rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(68, 68, 247, 0.782);
    transition: .3s;
    font-size: larger;
}

.card-link-gleydson:hover {
    color: rgba(68, 68, 247, 0.782);
    background-color: white;
    font-size: larger;
}

/** Card Gustavo Peixoto **/
.cardgustavodiv {
    background-color: rgba(39, 62, 189, 0.541);
    background-image: url("https://wallpaperaccess.com/full/1682034.png");
    box-shadow: 10px 10px 30px rgba(7, 7, 7, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}

.cardgustavodiv:hover {
    background-color: rgba(207, 205, 205, 0.116);
}

.imggustavo {
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.titulogustavo {
    font-size: 2em;
    margin: 1.5rem 0;
    text-align: center;
}

.conteudogustavo {
    text-align: center;
    font-size: 1.1em;
}

.cardlinkgpc {
    margin: 2rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(94, 94, 94, 0.782);
    transition: .3s;
    font-size: larger;
}

.cardlinkgpc:hover {
    color: rgba(68, 68, 247, 0.782);
    background-color: rgb(43, 43, 43);
    font-size: larger;
}


/*Felipe Guimarães*/
.conteudo-felipeguimaraes {
    background-color: rgba(11, 18, 56, 0.541);
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.612);
    margin-top: 2rem;
    border-radius: 15px;
}

.conteudo-card-felipeguimaraes {
    background-image: url("https://wallpaperaccess.com/full/389987.jpg");
    box-shadow: 10px 10px 30px rgba(30, 63, 102, 0.612);
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-card-felipeguimaraes:hover {
    background-image: url("https://wallpaperaccess.com/full/389987.jpg");
}

.card-img-felipeguimaraes {
    border-radius: 50%;
    width: 100px;
    height: auto;
}

.card-titulo-felipeguimaraes {
    font-size: 1.7em;
    margin: 1.5rem 0;
}

.card-descricao-felipeguimaraes {
    text-align: center;
    font-size: 1.1em;
}

.card-link-felipeguimaraes {
    margin: 2rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: rgba(68, 68, 247, 0.782);
    transition: .3s;
    font-size: larger;
}

.card-link-felipeguimaraes:hover {
    color: rgba(128, 153, 15, 0.782);
    background-color: black;
    font-size: larger;
}